body{
    background-color: black;
    color: #93743d;
}
header {
    display: flex;
    padding: 30px 2%;
    color: #93743d;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#nav-bar {
    display: inline-block;
    text-align: left;
    height: 70px;
}

.nav-link {
    /* display: inline-block; */
    color: #93743d;
}

#s-logo {
    height: 60px;
}

/* 
#test1 {
    padding: 60px;
} */